<!DOCTYPE html>
<html>
<head>
  <title>Visitor Form</title>
</head>
<body>
  <h2>Visitor Entry</h2>
  <form id="visitorForm" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="phone" placeholder="Phone"><br>
    <textarea name="purpose" placeholder="Purpose"></textarea><br>
    <input type="file" name="photo"><br><br>
    <button type="submit">Submit</button>
  </form>

  <p id="response"></p>

  <script>
    document.getElementById("visitorForm").onsubmit = async (e) => {
      e.preventDefault();
      let formData = new FormData(e.target);

      let res = await fetch("http://127.0.0.1:8000/api/visitors/", {
        method: "POST",
        body: formData
      });

      let data = await res.json();
      document.getElementById("response").innerText = JSON.stringify(data, null, 2);
    }
  </script>
</body>
</html>
